body {
  margin: 0;
}
.cont-img {
  display: flex;
  background-color: #ccc;
  height: 800px;  
}
.img-municipio {
  min-width: 1500px;
  object-fit: contain;
}
.cont-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-number {
  text-align: center;
  padding: 15px;
  border-radius: 50%;
}
.glob {
  margin-top: 3px;
  width: 3px;
  padding: 3px;
  color: black;
  background-color: azure;
  border: 1px solid black;
  border-radius: 100%;
}
.cont-button:hover > .button-number{
  background-color: black;
  color: #fff;
}
.button-number_Encendido{
  background-color: black;
  color: #fff;
}
.cont-button:hover > .button-number_Encendido:hover {
  color: black;
  background-color: azure;
}
.glob_Encendido {
  background-color: black;
}
.cont-muestra {
  background-color: black;
  padding: 10px 10px 9px 10px;
  position: absolute;
  opacity: 0;
  transition: .5s opacity ease;
}
.cont-muestra:first-child {
  opacity: 1;
}
.img-muestra {
  width: 330px;
  height: 250px;
}
.cont-text {
  text-align: center;
  width: 600px;
  height: 300px;
  left: 1200px;
  top: 600px;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border: 2px solid grey;
}
.titulo-muestra {
  font-size: 2em;
}
.descripcion {
  font-size: 1.5em;
  padding: 1.5em;
}